doctype html
html(ng-app="swingclub")
	head
		meta(http-equiv="Content-Type"
			content="text/html"
			charset="utf-8")
		meta(name="Copyright CWRU Swing Club 2015")
		title = "CWRU Swing Club"
		
		// Bootstrap
		link(rel="stylesheet"
			href="css/material.css")
		//Photoswipe
		link(rel="stylesheet"
			href="css/photoswipe.css")

		meta(content="width=device-width, initial-scale=1.0"
			name="viewport")
	body
		navbar
		