head
    meta(http-equiv='Content-Type'
        content='text/html'
        charset='utf-8')
    meta(name='Copyright CWRU Swing Club 2015')
    meta(description='Home of the Case Western Reserve Swing Club')
    title(ng-bind='title')
    
    //- link(rel='stylesheet'
    //-     href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet'
        href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css'
        media='screen, projection')
    link(rel='stylesheet'
        href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/nanogallery_clean.min.css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/loading.gif')
    link(href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/font/nano_icon_font3.woff')
    link(href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/font/nano_icon_font3.ttf')
    link(href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/font/nano_icon_font3.svg')
    link(href='//cdnjs.cloudflare.com/ajax/libs/nanogallery/5.6.0/css/themes/clean/font/nano_icon_font3.eot')
    // build:style bundle
    // /build

    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0',
        name='viewport')