head
    meta(http-equiv='Content-Type'
        content='text/html'
        charset='utf-8')
    meta(name='Copyright CWRU Swing Club 2015')
    meta(description='Home of the Case Western Reserve Swing Club')
    title(ng-bind='title')
    
    link(rel='stylesheet'
        href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.css'
        media='screen, projection')
    // build:style bundle
    // /build

    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0',
        name='viewport')
    base(href='/')